
<div id="menu">
    <h2>Locate where the in-game screenshot was taken</h2>
        
    <div class="game-modes">
        <!-- <div class="mode-card" data-mode="classic" data-timer="0">
            <div class="mode-icon">🎯</div>
            <div class="mode-name">Location</div>
            <div class="mode-description">5 rounds, no timer</div>
            <div class="top-score">Top Score: <span id="classicScore">0</span></div>
        </div> -->

        <div class="mode-card" data-mode="classic" data-timer="60">
            <div class="mode-icon">🎯</div>
            <div class="mode-name">Classic</div>
            <div class="mode-description">5 rounds - 60s per round</div>
            <div class="top-score">Top Score: <span id="timeAttackScore">0</span></div>
        </div>

        <!-- <div class="mode-card" data-mode="mapFinder" data-timer="0">
            <div class="mode-icon">🗺️</div>
            <div class="mode-name">Map</div>
            <div class="mode-description">5 rounds</div>
            <div class="top-score">Top Score: <span id="mapFinderScore">0</span></div>
        </div> -->

        <div class="mode-card" data-mode="mapFinder" data-timer="60">
            <div class="mode-icon">🗺️</div>
            <div class="mode-name">Find the Map</div>
            <div class="mode-description">5 rounds - 60s per round</div>
            <div class="top-score" >Top Score: <span id="mapFinderScore">0</span></div>
        </div>
    </div>

    <button id="BUTTON_PLAY" class="play-button" data-i18n="common:menu.buttons.play" id="playButton"></button>
</div>