
<div id="menu">
    
    <h1>Game Mode</h1>
    <div class="game-modes">
        <div class="mode-card" data-mode="classic">
            <div class="mode-icon">🎯</div>
            <div class="mode-name">Classic</div>
            <div class="top-score">Top Score: <span id="classicScore">0</span></div>
        </div>
        <div class="mode-card" data-mode="mapFinder">
            <div class="mode-icon">🗺️</div>
            <div class="mode-name">Find the Map</div>
            <div class="top-score" >Top Score: <span id="mapFinderScore">0</span></div>
        </div>
    </div>

    <button id="BUTTON_TIMER" data-i18n="common:menu.buttons.next" id="playButton"></button>
</div>