// Colors
$mainColor: #11447e;
$mainColorLight: #1557a0;
$mainBGColor: #111;
$mainTxtColor: #fff;
$newColor: green;



// Fonts
$mainFont: montserrat;
$logoFont: oswald;


/*
   * -- BASE STYLES --
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body,
html,
button,
input,
select,
textarea,
caption {
    color: $mainTxtColor;
    font-family: $mainFont, Times, "Times New Roman", serif;
    letter-spacing: 0.1em;
    text-align: center;
}

body {
    background-color: var(--themecolor, $mainBGColor);
    overflow: hidden;
}


// img {
//     @extend .unselectable;
//     display: block;
//     margin: auto;
//     -webkit-user-drag: none;
//     -khtml-user-drag: none;
//     -moz-user-drag: none;
//     -o-user-drag: none;
// }

// input {
//     background: transparent;
//     border: 0;
//     border-bottom: 3px solid $mainTxtColor;
//     font-size: 1.1em;
//     font-weight: bold;
//     height: 30px;
//     line-height: 2.188em;
//     padding: 0;
//     text-transform: uppercase;
//     width: 100%;
//     &:focus {
//         outline: none;
//     }
//     &::selection {
//         background-color: $mainColor;
//     }
// }


button {
    background: $mainColor;
    color: $mainTxtColor;
    border: none;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.6em;
    padding: 18px 38px;

    &:hover {
        background: $mainColorLight;
    }

    &:not(:disabled):active {
        transform: translateY(-2px);
        transform: scale(0.9);
        background-color: rgba(73, 73, 73, 0.842);
    }

    &:disabled {
        background-color: rgba(73, 73, 73, 0.842);
        cursor: not-allowed;
        box-shadow: none;
    }
}

button:focus {
    outline: none;
}



@keyframes loading {
    0% {
        background-position: right bottom;
    }

    100% {
        background-position: left bottom;
    }
}


// Text-Shadows/Ouline
@mixin text-outline {
    font-weight: bold;
    text-shadow: 1px 1px 0 #111,
        -1px 1px 0 #111,
        1px -1px 0 #111,
        -1px -1px 0 #111,
        0 1px 0 #111,
        0 -1px 0 #111,
        -1px 0 0 #111,
        1px 0 0 #111,
        1px 2px 0 #111,
        -1px 2px 0 #111,
        1px -2px 0 #111,
        -2px -2px 0 #111,
        0 2px 0 #111,
        0 -2px 0 #111,
        -1px 0 0 #111,
        1px 0 0 #111,
        1px 1px 0 #111,
        -1px 1px 0 #111,
        1px -1px 0 #111,
        -1px -1px 0 #111,
        1px 2px 0 #111,
        -1px 1px 0 #111,
        1px -1px 0 #111,
        -1px -1px 0 #111;
}

@mixin light-text-outline {
    font-weight: bold;
    text-shadow: 1px 1px 0 #111,
        -1px 1px 0 #111,
        1px -1px 0 #111,
        -1px -1px 0 #111,
        0 1px 0 #111,
        0 -1px 0 #111,
        -1px 0 0 #111,
        1px 0 0 #111,
        1px 1px 0 #111,
        -1px 1px 0 #111,
        1px -1px 0 #111,
        -1px -1px 0 #111,
        0 1px 0 #111,
        0 -1px 0 #111,
        -1px 0 0 #111,
        1px 0 0 #111,
        1px 1px 0 #111,
        -1px 1px 0 #111,
        1px -1px 0 #111,
        -1px -1px 0 #111,
        1px 1px 0 #111,
        -1px 1px 0 #111,
        1px -1px 0 #111,
        -1px -1px 0 #111;
}

.unselectable {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

@media (width <=600px) {

    h1 {
        font-size: 1.5em;
    }
    button {
        font-size: 1em;
    }
}