
<div id="timer_ui" class="hidden">
    <h1>Timer?</h1>
        
    <div class="time-modes">

        <div class="timer-card" data-timer="0">
            <div class="mode-icon">🦥</div>
            <div class="mode-name">Chill</div>
            <div class="mode-description">Take your time</div>
        </div>

        <div class="timer-card" data-timer="60">
            <div class="mode-icon">🕧</div>
            <div class="mode-name">Timed</div>
            <div class="mode-description">1mn per guess</div>
        </div>

        <div class="timer-card" data-timer="15">
            <div class="mode-icon">🏃🏼‍➡️</div>
            <div class="mode-name">Rush</div>
            <div class="mode-description">15s per guess</div>
        </div>
    </div>

    <div class="button-container">
        <button id="BUTTON_BACK" data-i18n="common:timer.buttons.back"></button>
        <button id="BUTTON_PLAY" data-i18n="common:timer.buttons.play" id="playButton"></button>
    </div>

</div>