
<div id="timer_ui">

    <div id="timerWrap">
        
        <h1 data-i18n="common:timer.timer"></h1>
            
        <div class="time-modes">
            <div class="timer-card" data-timer="0">
                <div class="mode-icon">🦥</div>
                <div class="mode-name" data-i18n="common:timer.chill"></div>
                <div class="mode-description" data-i18n="common:timer.takeYourTime"></div>
            </div>
            <div class="timer-card" data-timer="60">
                <div class="mode-icon">🕧</div>
                <div class="mode-name" data-i18n="common:timer.timed"></div>
                <div class="mode-description" data-i18n="common:timer.oneMinutePerGuess"></div>
            </div>
            <div class="timer-card" data-timer="15">
                <div class="mode-icon">🏃🏼‍➡️</div>
                <div class="mode-name" data-i18n="common:timer.rush"></div>
                <div class="mode-description" data-i18n="common:timer.fifteenSecondsPerGuess"></div>
            </div>
        </div>

        <div class="button-container">
            <button id="BUTTON_BACK" data-i18n="common:timer.buttons.back"></button>
            <button id="BUTTON_PLAY" data-i18n="common:timer.buttons.play" id="playButton"></button>
        </div>
    </div>

</div>