@use "../shared/variables";

header {
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    #MAINLOGO {
        @extend .unselectable;
        letter-spacing: 1px;
        font-size: 3em;
        font-family: variables.$logoFont;
        cursor: pointer;
        position: relative;
        #guessr {
            background: variables.$mainColor;
            padding: 0 5px;
            margin-left: 5px;
            display: inline-block;
        }
        #beta {
            background-color: firebrick;
            font-size: 0.4em;
            padding: 0 5px;
            transform: rotate(-10deg); // Tilt to the left
            display: inline-block; // Required for transform to work
            border-radius: 5px;
            position: absolute;
            margin-top: 45px;
            margin-left: -20px;
        }
    }
}