<!doctype html>
    <html lang="en" translate="no">

        <head>

            <title>SquadGuessr</title>

            <meta data-i18n-content="common:desc" name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
            <meta name="theme-color" content="#111">
            <meta charset="utf-8">

            <!-- SOCIAL MEDIA -->
            <meta property="og:title" content="SquadGuessr">
            <meta data-i18n-content="common:desc" property="og:description" content="">
            <meta property="og:image" content="https://i.imgur.com/5abWTZ6.png">
            <meta property="og:url" content="https://squadguessr.app">
            <meta name="twitter:card" content="https://i.imgur.com/5abWTZ6.png">

            <!-- FAVICON -->
            <link rel="shortcut icon" type="image/x-icon" href="/img/favicon_512x512.png">

            <!-- FONT/ICON -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Oswald:wght@700&family=Roboto:wght@600&display=swap" rel="stylesheet">

            <!-- FUCK IE -->
            <script>
                if (navigator.appName.indexOf("Internet Explorer") != -1 || navigator.userAgent.match(/Trident.*rv[ :]*11\./)) {
                    window.location = "https://choosebrowser.com/";
                }
            </script>

        </head>

        <body style="visibility: hidden;">

            <!-- HEADER / LOADER -->
            <%= require('html-loader!./header/header.html').default %>

            <!-- MAIN PAGES -->
            <main>
                <%= require('html-loader!./menu/menu.html').default %>
                <%= require('html-loader!./timer/timer.html').default %>
                <%= require('html-loader!./game/game.html').default %>
                <%= require('html-loader!./results/results.html').default %>
            </main>

            <!-- FOOTER / TOASTS -->
            <%= require('html-loader!./footer/footer.html').default %>
            
            <div id="imageOverlay" class="hidden">
                <img id="overlayImage">
            </div>

        </body>

    </html>
