main {
    height: 80vh;
    background: rgb(22, 22, 22);
    max-width: 1400px;
    margin: 0 auto;
}

/* Fullscreen overlay */

#imageOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    cursor: pointer;
    &.hidden {
        display: none;
    }
    img {
        max-width: 90vw;
        max-height: 90vh;
        border-radius: 20px;
    }
}