name: Deploy Production

on:
  push:
    branches: [master]

permissions:
  contents: read

jobs:
  deploy:
    name: Deploy to Production
    runs-on: ubuntu-latest
    
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.2.4
        with:
          host: ${{ secrets.HOST }}
          port: ${{ secrets.PORT }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          script: |
            eval $(ssh-agent -s)
            ssh-add ~/.ssh/${{ secrets.SSH_PUBLIC_KEY_NAME }}
            source ~/.zshrc
            cd ${{ secrets.DIST }}
            git pull origin master
            npm ci
            npm run build

      - name: Discord notification
        env:
            DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
            DISCORD_USERNAME: "Github bot"
            DISCORD_AVATAR: "https://i.imgur.com/B8YYfaf.png"
        uses: Ilshidur/action-discord@master
        with:
            args: |
              New version has been deployed on squadguessr.app
              **Commit**: ${{ github.event.head_commit.message }}